@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  max-width: screen;
  max-height: screen;
  overflow: hidden;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.marker-label {
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--foreground);
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, 
                -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  position: absolute;
  transform: translatex(-25%);
  white-space: nowrap;
}